.App {
  padding-top: 20px;
  margin: 0 auto ;
}

.components-containers {
  margin: 20px 0;
 
}

.app-body {
   width: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
} 


@media screen and (min-width: 0px) and (max-width: 580px) {
  .App {
   min-width: 580px;
  }
}

@media screen and (max-width: 400px) {
  .App {
    min-width: 400px;
   }
}
