.create-note-container {
    border: 2px solid black;
    height: 325px;
    margin: 0 auto
}

label {
    width: 100px;
    text-align: left;
}

.tracker-data {

}

.protien-input {
    border-radius: 0;

}

input {
    height: 150%;
    font-size: 5.5rem;
}