
.header-container {
  margin: 0 auto;
}

h1, .header {
    text-align: left;
    padding-bottom: 10px;
  
    /* font-size: 4rem; */
  }
  
  .current-date {
    text-align: center;
    width: 100%;
    margin: 0 auto 20px;
    
    border-top : .5px solid rgb(104, 104, 104);
    border-bottom : .5px solid  rgb(104, 104, 104);
  }
  
.date-header {
    padding: 10px 0;
   
  }


  @media screen and (min-width: 401px) and (max-width: 580px) {
    .head {
     min-width: 580px;
    }
  }

  @media screen and (max-width: 400px) {
    .head {
      max-width: 370px;
    }
}
