.Logged-Avg-container {
    border: 2px solid black;
    height: 375px;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
}

.average-title {
    background-color: orange;
   
}

.cal-amount {
    /* color: lightgreen; */
}