.Logged-Avg-container {
    border: 2px solid black;
    height: 325px;
    text-align: center;
    font-weight: bold;
}

.average-title {
    background-color: lightgreen;
    color: ;
}

.cal-amount {
    color: lightgreen;
}