.Logged-Avg-container {
    border: 1.5px solid black;
    height: 330px;
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    
}



.average-title {
    background-color: orange;
   margin-bottom: 15px;
}

.cal-amount {
    color: orange;
    font-size: 1rem;
  
}

.default-msg {
    width: 90%;
    margin: 30px auto 0;
    
}

@media screen and (max-width: 992px) {
    .Logged-Avg-container {
        border: 1.5px solid black;
        height: 375px;
        text-align: center;
        font-weight: bold;
        font-size: 1rem;
        
    }

    .default-msg {
      
        width: 90%;
        margin: 74px auto;
      }
}


@media screen and (max-width: 767px) {
    .Logged-Avg-container {
        border: 1.5px solid black;
        height: 300px;
        text-align: center;
        font-weight: bold;
        font-size: 1rem;
        
    }

    .default-msg {
      
        width: 90%;
        margin: 20px auto;
      }
}

@media screen and (max-width: 400px) {
    .Logged-Avg-container {
        border: 1.5px solid black;
        height: 300px;
        width: 350px;
        margin: 0 auto;
        text-align: center;
        font-weight: bold;
        font-size: 1rem;
        
    }

    .default-msg {
      
        width: 90%;
        margin: 10px auto;
      }
}