.Logged-Notes-container {
   
    border: 1.5px solid black;
    margin-top: 20px;
    /* min-height: 300px; */
    max-height: auto;
    text-align: center;
    font-size: 1rem;
}

table {
    width: 100%;
    padding: 0;
    margin: 0;
}

.table-headers{
    background-color: orange;
}

@media screen and (max-width: 400px) {
    .Logged-Notes-container {
        border: 1.5px solid black;
        max-height: auto;
        width: 350px;
        margin: 20px auto;
        text-align: center;
        font-weight: normal;
        font-size: .9rem;
        
    }

    .default-msg {
      
        width: 300px;
        margin: 10px auto;
      }
}